<div class="container">
    <h2 ng-if="!vm.readOnly">Lisa klient</h2>
    <div class="alert alert-danger"  ng-if="vm.errors.length > 0">
        <ul id="message-block">
            <li data-ng-repeat="error in vm.errors" data-code="{{error.code}}">
                {{ error.code }}
            </li>
        </ul>

    </div>
    <form>
        <div class="form-group">
            <label for="first-name">Eesnimi:</label>
            <input type="text" class="form-control" id="first-name" ng-model="vm.form.firstName" ng-disabled="vm.existingCustomer"/>
        </div>
        <div class="form-group">
            <label for="last-name">Perenimi:</label>
            <input type="text" class="form-control" id="last-name" ng-model="vm.form.lastName" ng-disabled="vm.existingCustomer"/>
        </div>
        <div class="form-group">
            <label for="code">Kood:</label>
            <input type="text" class="form-control" id="code" ng-model="vm.form.code" ng-disabled="vm.existingCustomer"/>
        </div>
        <div class="form-group">
            <label for="code">Tüüp:</label>
            <select type="text" class="form-control" id="type" ng-model="vm.form.type" ng-options="obj as obj for obj in vm.customerTypes" ng-disabled="vm.existingCustomer"></select>
        </div>
        <div class="form-group" data-ng-repeat="phone in vm.form.phones">
            <label>Telefon:</label>
            <div class="form-inline">
                <div class="form-group">
                    <select type="text" class="form-control" id="phone-select-{{$index}}" ng-model="vm.form.phones[$index].type" ng-options="obj as obj for obj in vm.phoneTypes" ng-disabled="vm.existingCustomer"></select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="phone-value-{{$index}}" placeholder="Number" ng-model="vm.form.phones[$index].value" ng-disabled="vm.existingCustomer">
                </div>
                <div class="form-group">
                    <button type="button" id="delete-phone-link-{{$index}}" class="btn btn-danger" ng-click="vm.removeChoice($index)" ng-if="!vm.existingCustomer">Kustuta</button>
                </div>
            </div>
        </div>
        <button type="button" id="add-phone-link" class="btn btn-default" ng-click="vm.addNewChoice()" ng-if="!vm.existingCustomer">Lisa telefon</button>
        <button ng-click="vm.save()" ng-if="!vm.existingCustomer" class="btn btn-default" id="save-link">Salvesta</button>
    </form>
</div>