<h2>Kliendid</h2>
<form>
    <div class="form-group">
        <label for="search-string">Otsingusõna:</label>
        <input id="search-string" ng-model="vm.searchString" class="form-control" ng-change="vm.search()">
    </div>
</form>
<table class="table">
    <thead>
    <tr>
        <th>Eesnimi</th>
        <th>Perenimi</th>
        <th>Kood</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="customer in vm.customers">
        <td id="first-name-$index"><a href="#/view/{{ customer.id }}">{{ customer.firstName }}</a></td>
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.code }}</td>
        <td>
            <button type="button" class="btn btn-danger" ng-click="vm.remove(customer.id)" id="delete-button-{{ customer.code }}">Kustuta</button>
        </td>
    </tr>
    </tbody>
</table>
</div>